{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home">
    <div class="home-content">
        <h1>Hi, I'm 7Rayfi</h1>
        <h3>web application</h3>
        <p>designed to connect users seeking specific services with professionals 
            offering those services.The platform allows users to post job listings,
             apply for jobs, and manage their profiles. Key features include user 
             authentication,job posting and application functionalities, profile 
             management, and a search function for finding workers based on location 
             and profession.
        <div class="btn-box">
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.sign_up') }}">Sign-up</a>
        </div>
        </p>
    </div>
</div>

{% block javascript %}
<script type="text/javascript">
    const csrf_token = "{{ csrf_token() }}";
</script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
{% endblock %}
