{% extends "base.html" %}
{% block title %}Job Details{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card job-card">
        <div class="card-body">
            <h5 class="card-title">{{ job.title }}</h5>
            <p class="job-description">{{ job.description }}</p>
            <p><small>Posted by: {{ job.poster.first_name }} {{ job.poster.last_name }}</small></p>
            <div class="job-pictures">
                {% if job.pictures %}
                    {% for picture in job.pictures.split(',') %}
                        <img src="{{ url_for('static', filename='uploads/' ~ picture) }}" alt="Job Picture" class="img-thumbnail" style="width: 100px; height: 100px;">
                    {% endfor %}
                {% endif %}
            </div>
            <h6 class="mt-4">Applications</h6>
            <ul class="list-group">
                {% for application in applications %}
                    <li class="list-group-item">
                        <div class="application-header">
                            <img src="{{ url_for('static', filename='profile_pics/' ~ application.worker.profile_picture) }}" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px;">
                            <a href="{{ url_for('profile.view_profile', user_id=application.worker.id) }}">{{ application.worker.first_name }} {{ application.worker.last_name }}</a>
                            <p>{{ application.worker.brief_description }}</p>
                            <form method="POST" action="{{ url_for('job.accept_application', application_id=application.id) }}" class="d-inline">
                                {{ form.hidden_tag() }}  <!-- Ensure CSRF token is included -->
                                <button type="submit" class="btn btn-success">Accept</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
                {% if not applications %}
                    <li class="list-group-item">No applications yet</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
