{% extends "base.html" %}
{% block title %}View Jobs{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Available Jobs</h2>
    <div class="list-group mt-4">
        {% for job in jobs %}
        <div class="list-group-item">
            <h5 class="mb-1">{{ job.title }}</h5>
            <p class="mb-1">{{ job.description }}</p>
            <small>Posted by: {{ job.poster.first_name }} {{ job.poster.last_name }}</small>
            <div>
                {% if job.pictures %}
                    {% for picture in job.pictures.split(',') %}
                        <img src="{{ url_for('static', filename='uploads/' ~ picture) }}" alt="Job Picture" class="img-thumbnail" style="width: 100px; height: 100px;">
                    {% endfor %}
                {% endif %}
            </div>
            {% if job.poster_id == current_user.id %}
            <form method="POST" action="{{ url_for('job.delete_job', job_id=job.id) }}" class="mt-2">
                {{ form.hidden_tag() }}  <!-- Ensure CSRF token is included -->
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
