{% extends "base.html" %}
{% block title %}View Jobs{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Available Jobs</h2>
    <div class="list-group">
        {% for job in jobs %}
        <div class="list-group-item">
            <h5 class="mb-1">{{ job.title }}</h5>
            <p class="mb-1">{{ job.description }}</p>
            <p class="mb-1"><strong>Profession:</strong> {{ job.profession }}</p>
            <p class="mb-1"><strong>Location:</strong> {{ job.location }}</p>
            <small>Posted on {{ job.date_posted.strftime('%Y-%m-%d %H:%M:%S') }} by {{ job.poster.username }}</small>
            {% if job.pictures %}
            <div class="mt-2">
                {% for picture in job.pictures.split(',') %}
                <img src="{{ url_for('static', filename='profile_pics/' ~ picture) }}" alt="Job Picture" class="img-thumbnail" style="width: 150px; height: 150px; margin-right: 10px;">
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
