body {
    background-color: #f9f9fa;
}

.container {
    padding: 3rem 0;
}

h2.text-center {
    margin-bottom: 2rem;
}

.list-group-item {
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.list-group-item h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.list-group-item p {
    margin-bottom: 0.5rem;
    color: #555;
}

.list-group-item small {
    color: #888;
}

.img-thumbnail {
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
