/* job_details.css */

.job-card {
    background-color: #1c2b3a;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #00abf0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.job-header, .application-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job-header .job-date, .application-header .job-date {
    font-size: 14px;
    color: #ededed;
}

.job-header .fa-calendar, .application-header .fa-calendar {
    margin-right: 5px;
}

.job-title {
    font-size: 20px;
    color: #00abf0;
}

.job-description {
    font-size: 16px;
    color: #ededed;
    margin-bottom: 10px;
}

.job-pictures img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.job-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-primary {
    background-color: #00abf0;
    border-color: #00abf0;
    color: #081b29;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #008bb0;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.text-success {
    margin-top: 10px;
    color: #28a745;
}
