/* navbar.css */

.navbar {
    background-color: #1c2b3a;
}

.navbar-brand {
    color: #00abf0;
    font-size: 25px;
    font-weight: 600;
}

.navbar-toggler {
    border-color: #00abf0;
    color: #00abf0;
}

.navbar-toggler-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon span {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #00abf0;
    position: absolute;
    transition: all 0.3s;
}

.navbar-toggler-icon::before {
    top: 0;
}

.navbar-toggler-icon::after {
    bottom: 0;
}

.navbar-toggler-icon span {
    top: 50%;
    transform: translateY(-50%);
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
    color: #ededed;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    color: #00abf0;
}

@media (max-width: 992px) {
    .navbar-nav {
        margin-left: 0;
        text-align: center;
    }
}
