/* update_profile.css */
@import url('variables.css');

.update-profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--text-color);
}

h2.text-center {
    color: var(--primary-color);
    margin-bottom: 20px;
}

.update-profile-form .form-group {
    margin-bottom: 20px;
}

.update-profile-form .form-label {
    font-weight: 600;
    color: var(--text-color);
}

.update-profile-form .form-control,
.update-profile-form .form-control-file {
    background-color: var(--background-color);
    border: 1px solid var(--input-border-color);
    color: var(--text-color);
}

.update-profile-form .form-control::placeholder {
    color: var(--placeholder-color);
}

.update-profile-form .form-control:focus,
.update-profile-form .form-control-file:focus {
    background-color: var(--input-focus-background);
    border-color: var(--input-border-color);
    color: var(--text-color);
}

.update-profile-form .btn-submit {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--background-color);
    transition: background-color 0.3s;
}

.update-profile-form .btn-submit:hover {
    background-color: var(--primary-hover-color);
    color: var(--text-color);
}
